.speech{
    font-family: 'Times New Roman', Times, serif;
    size: 20;
    color: black;
}

.direction{
    font-family: 'Courier New', Courier, monospace;
    size: 22;
    color: black;
    background-color: aqua;
}

.direction:hover{
    background-color: blanchedalmond;
    color: blue;
}

.JACQUES{
    color: cadetblue;
}

.HENRIETTE{
    color: chartreuse;
}

.ALBERT{
    color: cornflowerblue;
}

table, th, td{
    border: 1px solid; text-align: center;
}

table{
    padding: .5px;
    color: blue;
    margin: 20px;
}

th{
    padding: 5px;
    margin: 10px;
    width: 60%;
}

tr:nth-child(even) {
    background-color :burlywood
  }

  .JACQUES:hover{
    background: cadetblue;
    color: rgb(100, 100, 211);
    text-shadow: 4px 4px ;
  }

